*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin-top: 5px;
}
h1{
    margin: 25px 0px;
    text-align: center;
    margin-left: 20px;
}
.todoList{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px 0px;
    box-shadow:  inset 0.3px 0.3px 2px black;
    border: solid rgb(255, 255, 255) 0.3px;
    gap: 8px;
}
.todoList-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
}
.todoList-header-section1{
    display: flex;
    gap: 5px;
}
.add-button{
    background-color: rgb(58, 93, 105);
    color: white;
    padding: 10px 50px;
    font-size: 18px;
    border: none;
    box-shadow: 0.3px 0.3px 2px black;
    border-radius: 4.5px;
}
.date-picker, .todo-title{
    border: solid gray 0.3px;
    padding: 5px 10px;
    box-shadow: 0.3px 0.3px 2px black;
    font-size: 18px;
    border-radius: 4.5px;
}
.todo-title{
    width: 400px;
}
.todo-title:focus, .date-picker:focus{
    outline: none;
    box-shadow: 0.3px 0.3px 6px black;
}
.deleteButton{
    margin-left: 12px;
    padding: 5px 25px;
    background-color: rgb(172, 90, 90);
    color: white;
    border: solid rgb(172, 90, 90) 0.5px;
    box-shadow:  inset 0.3px 0.3px 2px black;
    border-radius: 4.5px;
}
.deleteButton:hover{
    border: solid white 0.5px;
}